#friends-display-link {
  display: block;
  text-align: center;
  background-color: #fafafa;
  padding: 15px 0px;
  font-size: 16px;
  margin-bottom: 10px;
}

#friends-display-link i {
  color: rgba(0, 0, 0, 0.3);
}

.friends-screen {
  padding: 0px var(--horizontal-space);
}

.friends-screen__chanel-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  padding-top: 15px;
  margin-bottom: 30px;
  color: rgba(0, 0, 0, 0.5);
}
