.icon-row {
  display: flex;
  justify-content: space-between;
}

.icon-row__icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
}

.icon-row__icon i {
  font-size: 32px;
}

.icon-row__icon span {
  margin-top: 15px;
}

.reddot {
  height: 5px;
  width: 5px;
  background-color: #e47878;
  border-radius: 50%;
  margin-top: -5px;
  position: absolute;
  right: 20px;
  top: 20px;
}

.icon-row__icon__reddot {
  position: relative;
}
