.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgb(244, 244, 244);
  padding: 20px 45px;
  box-sizing: border-box;
  border-top: solid rgba(0, 0, 0, 0.3);
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  color: #2e363e;
  position: relative;
}

.nav__nitification {
  background-color: tomato;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 10px;
  font-weight: 800px;
  position: absolute;
  left: 10px;
  bottom: 10px;
}

.nav__dot {
  background-color: tomato;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: -5px;
  bottom: 25px;
}
